h1 {
    background-color: bisque;
    color: black;
    font-size: 36px;
    text-align: center;
}

.title {
    border-radius: 1.5em;
    padding: 1em 2em;
}

h2 {
    font-size: 30px;
}

ul li,
ol li{
    font-size: 20px;
}

body a {
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 1.5em;
    padding: 1em 2em;
    font-size: 30px;
}

.main-items {
    margin-top: 10em;
    display: flex;
    gap: 2em;
    list-style-type: none;
    justify-content: center;
    
}
p {
    font-size: 20px;
}
.food {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

img {
    /*bottom 3 for image position center */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
    
}